
body
{

background: url(../img/background.jpg);
font-style:italic;
  font-weight:bold;
  font-size:1px;
  font-color:#ffffff;
  font-family: sans-serif;
}

header 
{	

	margin-top: 1%;
	margin-right: 1%;
	margin-left: 1%;
	text-align: center;

}

section, div
{

	margin-right: 0%;
	margin-left: 0%;
}



.pad-basic

{
padding:.2%; 
	
}

.no-btm
{
	margin-bottom:0%;
}

.btn-der
{
	text-align: right;
}



